@font-face {
    font-family: Bariol;
    src: url("../font/Bariol_Regular.otf") format("opentype");
}

html, body {
    font-family: Bariol;
}

#header-wrapper {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

#header-wrapper h1 {
    letter-spacing: 4px;
    font-size: 62px;
}

#header-wrapper img {
    max-width: 100%;
    width: 320px;
}

@media (max-width: 767px) {
    #header-wrapper img {
        width: 200px;
    }
}

h2, h3 {
    margin-bottom: 30px;
}

#header-wrapper pre {
    white-space: normal;
    text-align: left;
    background-color: black;
    color: white;
    padding: 15px;
    margin-bottom: 35px;
}

#content-wrapper p {
    margin: 0 0 40px;
    font-size: 16px;
}